/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
/*HEADER*/
header {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    /* margin-top: 40px; */
}

/*NAV*/
nav {
    font-size: 1.3em;
    margin-bottom: -7px;
    margin-top: -3px;
}

nav ul li {
    display: inline;
    padding-left: 3px;
}

/* Color Box with transition
nav li:hover a{
    -webkit-transition: background .6s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: background .6s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: background .6s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav li:nth-child(1):hover a{
    background: #c92227;
}

nav li:nth-child(3):hover a{
    background: #E8B851;
}

nav li:nth-child(5):hover a{
    background: #22c955;
}

nav li:nth-child(7):hover a{
    background: #22c9a8;
}
    
nav li:nth-child(9):hover a{
    background: #2297c9;
}
end color box transition*/

/*FOOTER*/
footer {
    clear: both;
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 110%;
    color: white;
    background-color: #312e2e;
    padding-top: 1%;
    padding-bottom: 1%;
}

/*GENERAL PURPOSE*/
a {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
    text-align: right;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.space {
    margin-top: 40px;
}

span.bold {
    font-weight: bold;
}

span.tab {
    padding-left: 2em;
}

span.space {
    line-height: 34px;
    margin-bottom: 8px;
}

/* #Page Styles
================================================== */

.container {
    margin-top: 40px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/